<launch>
  <node pkg="lqr_control" type="dareSolver.py" name="dare_solver" output="screen">
  </node>
  <node pkg="lqr_control" type="quadrotor_simulator_node" name="quadrotor_simulator" output="screen" >
    <param name="transform_movement_flag" value="true" />
    <param name="R_para" value="100.0" />
    <param name="Q_p_para" value="10.0" />
    <param name="Q_v_para" value="10.0" />
    <param name="Q_w_para" value="1.0" />
    <param name="Q_e_para" value="1.0" />
    <param name="Q_z_para" value="100.0" />
  </node>
</launch>
